@font-face {
    font-family: 'bellotaregular';
    src: url('../font/Bellota-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotabold';
    src:url('../font/Bellota-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotaitalic';
    src:url('../font/Bellota-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
