.formulaire{
    padding: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #formulaire-ensemble{
        position: relative;
        width: 600px;

        background-color:$color2;
        border-radius: 35px 35px 10px 10px;
        .header-form{
            position: relative;
            display: flex;
            align-items: center;
            background-color: $color3 ;
            border-radius: 30px 30px 0 0;
            img{
                height: 200px;
                user-select: none;
            }
            h1{
                font-family: bellotabold;
                font-size: 5rem;
                color: $color2;
            }
        }
        .body-form{
            max-width: 400px;
            margin: auto;
            padding: 20px 0;
            #signup{
                .form-field {
                    margin-bottom: 5px;
                    &.error input, &.error select, &.error textarea{
                        border-color: $error;
                    }
                    &.success input, &.success select,&.success textarea{
                        border-color: $success;
                    }
                    label{
                        font-family: bellotabold;
                        display: block;
                        color: $color1;
                        margin-bottom: 5px;
                        font-size: 2rem;
                    }
                    input, select, textarea {
                        border: solid 2px $color3a;
                        border-radius: 3px;
                        padding: 10px;
                        margin-bottom: 5px;
                        font-size: 14px;
                        display: block;
                        width: 100%;
                        &:focus{
                            outline: none;
                        }
                    }
                    select{
                        padding: 5px 10px;
                    }
                    small {
                        margin-left: 1rem;
                        font-family: 'bellotaitalic';
                        font-size: 1.5rem;
                        display: block;
                        color: $error;
                    }
                    
                    .btn {
                        width: 100%;
                        padding: 3%;
                        background: $color1;
                        border: none;
                        color: $color2;
                        text-transform: uppercase;
                        margin:3rem 0;
                        font-size: 2rem;
                        transition: 1s;
                        &:hover {
                            transition: 0.6s;
                            background: #085155;
                            cursor: pointer;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .gender {
                    p{
                        font-family: bellotabold;
                        display: block;
                        color: $color1;
                        margin-bottom: 5px;
                        font-size: 2rem;
                    }
                    label{
                        font-family: bellotaregular;
                        display: unset;
                        color: unset;
                        font-size: 1.4rem;
                        margin-right: 3rem;
                    }
                    input{
                        border: unset;
                        border-radius: unset;
                        padding: unset;
                        margin-bottom: unset;
                        font-size: unset;
                        display:unset;
                        width: unset;
                        display: unset;
                        margin: 0 1rem;
                    }
                    
                }
            }
        
        }
    }
}
@media (max-width: 500px) {
    #formulaire-ensemble{
        width: 100% !important;
    }
    .body-form {
        padding: 1rem !important;
    }
    .header-form{
        flex-direction: column;
        h1{
            margin-bottom: 2rem;
        }
        img{
            height: unset !important;
            width: 100%;
        }
    }
}


.message{
    font-size: 3rem;
    font-style: italic;
    padding: 1rem 2rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.successMess{
    color: rgb(12, 248, 3);
    background-color: rgb(209, 255, 197);
}

.err{
    color: rgb(248, 72, 3);
    background-color: rgb(255, 201, 197);
}

#honeyPot {
    // opacity: 0;
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 0;
    // width: 0;
    // z-index: -1;
    display: none !important;
}